@font-face {
  font-family: "CustomSans-Bold";
  src: url("/fonts/Karla/Karla-VariableFont_wght.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

/* @font-face {
  font-family: "CustomSerif-Bold";
  src: url("/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
} */

html {
  scroll-behavior: smooth;
}

// DA FIXARE
:not(.dark) .mix-blend-exclusion svg {
  filter: invert(100%);
}

/* GLASS */

.glass {
  position: relative;
  z-index: 1;
  background: inherit;
}

.glass:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.dark .glass:before {
  box-shadow: inset 0 0 2000px rgba(50, 50, 50, 0.5);
}

/* GRID REPEATING */

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.grid-repeating {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;

  animation: bg-scrolling-reverse 1.92s infinite;
  animation-timing-function: linear;

  position: relative;
  z-index: 1;
}
